header {
    height:75px;
    width:100%;
    position:fixed;
    background:white;
    z-index:100;
    border-bottom:1px solid #150236;
}

.banner_image{
    height:54px;
    margin: 10px 0;
}

.page{
    background-color:#d9ccf0;
    min-height:100%;
}

.content-area{
    background-color:white;
    padding-top:80px
}