header {
    height:4.688em;
    width:100%;
    position:fixed;
    background:white;
    z-index:100;
    border-bottom:0.063em solid #150236;
}

.banner_image{
    height:3.375em;
    margin: 0.625em 0;
}

.page{
    background-color:#d9ccf0;
    min-height:100%;
}

.content-area{
    background-color:white;
    padding-top:5.000em
}